
/*body {*/
    /*font-family:  'TS-Regular', 'Open Sans', sans-serif;*/
    /*font-size: 14px;*/
    /*color: #676767;*/
    /*font-weight: 300;*/
    /*line-height: 17px;*/
/*}*/

/*header,*/
/*article,*/
/*footer {*/
    /*max-width: 1060px;*/
    /*margin: 0 auto;*/
    /*background: #cc9ead;*/
/*}*/

h1, h2, h3, h4, h5 {
    font-family: 'TS-Regular', 'Open Sans', sans-serif !important;
    font-weight: 300;
    color: #2e2e2e;
}
    h3 {
        font-size: 17px;
        font-weight: 600;
        line-height: 25px;
    }

p {
    /*margin-bottom: 1.2em;*/
}
.elementContainer a {
    color: #AFAFAF;
    text-decoration: none;
    transition: all 180ms ease-in;
    -webkit-transition: all 180ms ease-in;
}

/*.hidden {*/
    /*display: none;*/
/*}*/
/*.right {*/
    /*float: right;*/
/*}*/
/*.left {*/
/*float: left;*/
/*}*/
/*.inline {*/
    /*display: inline-block;*/
/*}*/
/*.clearBothJz {*/
    /*clear: both;*/
/*}*/
.clearFixJz:before,
.clearFixJz:after {
    content: '';
    display: table;
}
.clearFixJz:after {
    clear: both;
}

@media (min-width: 1076px) {

.mainContent {
    max-width: 100%;
}
    .topNavigation {
        margin: 0 auto;
        margin-bottom: 100px;
        width: 285px;
        height: 35px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }
        .topNavigation ul {
            height: auto;
            padding: 8px 0px;
            margin: 0px;
        }
            .topNavigation li {
                display: inline;
                padding: 9px;
                margin: 0 10px;
                cursor: pointer;
            }
        .topNavigation .selected {
            color: #009ee9;
        }


    .elementContainer {
        width: 100%;
    }
        .sampleBox {
            float: left;
            width: 245px;
            height: 330px;
            margin-right: 25px;

            position: relative;
            /*background: white;*/
            transition: all .5s ease-in-out;
            -webkit-transition: all .5s ease-in-out;
            -moz-transition: all .5s ease-in-out;
            -ms-transition: all .5s ease-in-out;
            -o-transition: all .5s ease-in-out;

        }
        .hideSample {
            width: 0;
            height: 0;
            opacity: 0;
            margin: 0;
            padding: 0;
        }

    .elementContainer a:nth-child(4n) .sampleBox {
            margin-right: 0;
        }
    .elementContainer a:nth-child(1n+5) .sampleBox {
            margin-top: 50px;
        }

            .sampleBox.web img {
                margin: 0 10px;
            }
            .sampleBox.mobile img {
                margin: 0 77px;
            }
            .elementTitle {
                margin-top: 35px;
            }
                .sampleBox.web .elementTitle img,
                .sampleBox.mobile .elementTitle img {
                    float: left;
                    margin: 0;
                }
                .elementTitle .sampleTitle {
                    width: 195px;
                    margin-left: 15px;
                    float: left;
                }
            p.subText {
                margin-top: 25px;
                color: #AFAFAF;
                font-size: 14px;
            }
}

/* Three elements in line */
@media (min-width: 810px) and (max-width: 1075px) {

    .mainContent {
        max-width: 100%;
        /*background: #cc6600;*/
    }
        .topNavigation {
            margin: 0 auto;
            margin-bottom: 100px;
            width: 285px;
            height: 35px;
            font-size: 20px;
            text-align: center;
            text-transform: uppercase;
        }
            .topNavigation ul {
                height: auto;
                padding: 8px 0px;
                margin: 0px;
            }
                .topNavigation li {
                     display: inline;
                     padding: 9px;
                     margin: 0 10px;
                     cursor: pointer;
                 }
                    .topNavigation .selected {
                        color: #009ee9;
                    }


    .elementContainer {
        margin: 0 auto;
        width: 790px;
        /*background: #0088cc;*/
    }
    .sampleBox {
        float: left;
        width: 245px;
        height: 330px;
        margin-right: 25px;

        position: relative;
        /*background: white;*/
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
    }
    .hideSample {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
    }

    a:nth-child(3n) .sampleBox {
        margin-right: 0;
    }
    a:nth-child(1n+4) .sampleBox {
        margin-top: 50px;
    }
    .sampleBox.web img {
        margin: 0 10px;
    }
    .sampleBox.mobile img {
        margin: 0 77px;
    }
    .elementTitle {
        margin-top: 35px;
    }
    .sampleBox.web .elementTitle img,
    .sampleBox.mobile .elementTitle img {
        float: left;
        margin: 0;
    }
    .elementTitle .sampleTitle {
        width: 195px;
        margin-left: 15px;
        float: left;
    }
    p.subText {
        margin-top: 25px;
        color: #AFAFAF;
        font-size: 14px;
    }
}

/* Two elements in line */
@media (min-width: 535px) and (max-width: 809px) {
    .mainContent {
        max-width: 100%;
        /*background: #cc6600;*/
    }
    .topNavigation {
        margin: 0 auto;
        margin-bottom: 100px;
        width: 285px;
        height: 35px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    .topNavigation ul {
        height: auto;
        padding: 8px 0px;
        margin: 0px;
    }
    .topNavigation li {
        display: inline;
        padding: 9px;
        margin: 0 10px;
        cursor: pointer;
    }
    .topNavigation .selected {
        color: #009ee9;
    }


    .elementContainer {
        margin: 0 auto;
        width: 515px;
        /*background: #cccb49;*/
    }
    .sampleBox {
        float: left;
        width: 245px;
        height: 330px;
        margin-right: 25px;

        position: relative;
        /*background: white;*/
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;

    }
    .hideSample {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
    }

    a:nth-child(2n) .sampleBox {
        margin-right: 0;
    }
    a:nth-child(1n+3) .sampleBox {
        margin-top: 50px;
    }
    .sampleBox.web img {
        margin: 0 10px;
    }
    .sampleBox.mobile img {
        margin: 0 77px;
    }
    .elementTitle {
        margin-top: 35px;
    }
    .sampleBox.web .elementTitle img,
    .sampleBox.mobile .elementTitle img {
        float: left;
        margin: 0;
    }
    .elementTitle .sampleTitle {
        width: 195px;
        margin-left: 15px;
        float: left;
    }
    p.subText {
        margin-top: 25px;
        color: #AFAFAF;
        font-size: 14px;
    }
}

/* One elements in line */
@media (max-width: 534px) {
    .mainContent {
        max-width: 100%;
        /*background: #b2cc83;*/
    }
    .topNavigation {
        margin: 0 auto;
        margin-bottom: 100px;
        width: 285px;
        height: 35px;
        font-size: 20px;
        text-align: center;
        text-transform: uppercase;
    }
    .topNavigation ul {
        height: auto;
        padding: 8px 0px;
        margin: 0px;
    }
    .topNavigation li {
        display: inline;
        padding: 9px;
        margin: 0 10px;
        cursor: pointer;
    }
    .topNavigation .selected {
        color: #009EE9;
    }


    .elementContainer {
        margin: 0 auto;
        width: 250px;
        /*background: #7e9ecc;*/
    }
    .sampleBox {
        float: left;
        width: 245px;
        height: 330px;
        margin-right: 0;

        position: relative;
        /*background: white;*/
        transition: all .5s ease-in-out;
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -ms-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;

    }
    .hideSample {
        width: 0;
        height: 0;
        opacity: 0;
        margin: 0;
        padding: 0;
    }

    a:nth-child(1n+2) .sampleBox {
        margin-top: 50px;
    }
    .sampleBox.web img {
        margin: 0 10px;
    }
    .sampleBox.mobile img {
        margin: 0 77px;
    }
    .elementTitle {
        margin-top: 35px;
    }
    .sampleBox.web .elementTitle img,
    .sampleBox.mobile .elementTitle img {
        float: left;
        margin: 0;
    }
    .elementTitle .sampleTitle {
        width: 195px;
        margin-left: 15px;
        float: left;
    }
    p.subText {
        margin-top: 25px;
        color: #AFAFAF;
        font-size: 14px;
    }
}

